@import "./extendes.module";

.container{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}
.container_fluid{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    max-width: 100%;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: fixed;
    z-index: 999999999999;
    background: transparent;
    top: 0; left: 0;
    height: 70px;
    text-align: center;
    line-height: 2;
    & .arro{
        font: {
            size: 2rem;
            weight: 900; 
        }
    }
    
    }
    .linkes {
        & ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .hideShop{
                position: relative;
                & div{
                    @extend %hide;
                }
            }
            & .hidepage{
                position: relative;
                & div{
                    @extend %hide;
                }
            }
            & .hideBlog{
                position: relative;
                & div{
                    @extend %hide;
                }
            }
    }
}
.helps{
    display:flex;
    align-items: center;
    justify-content: space-around;
    & span{
        cursor: pointer;
    }
    & .buyNum{
        position: relative;
        & p{
            position: absolute;
            top: -20px;
            left: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #fa1e1e;
            color: #fff;
            font-size: 11px;
            text-align: center;
            line-height: 20px;
        }
    }
}

.linkes ul .hideShop:hover .box{
    padding: 15px 30px;
    height: 130px;
    opacity: 1;
}

.linkes ul .hidepage:hover .box{
    padding: 15px 30px;
    height: 250px;
    opacity: 1;
}

.linkes ul .hideBlog:hover .box{
    padding: 15px 30px;
    height: 130px;
    opacity: 1;
}

.linkes ul .hideShop:hover .box a{
    display: block;
}

.linkes ul .hidepage:hover .box a{
    display: block;
}

.linkes ul .hideBlog:hover .box a{
    display: block;
}

// Home Page style

.slider_container{
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background: #ecfdff;
    margin-top: -18px;
    & .slider{
        width: 100%;
        height: calc(100% - 40px);
        position: relative;
        overflow: hidden;

        & .box{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 100%;
        }

        & .box:not(.active){
            top: 0;
            left: -100%;
        }

        & .wordes{
            display: flex;
            align-items: center;
            justify-content:center;
            flex-direction: column;
            width: 35%;
            & h2{
                font:{
                    size: 3rem;
                    weight: 700;
                }
            }

            & p{
                font:{
                    size: 1.1rem;
                    weight: 400;
                };
                text-align: left;
            }

            & button{
                border: none;
                padding: 20px 40px;
                background: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
                width: 30%;
                border-radius: 11px;
                margin-top: 60px;
            }
        }
    }

    & .btn .next, & .btn .prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;
    }
    
    & .btn .next{
        right: 20px;
    }
    & .btn .prev{
        left: 20px; 
    }

    & .dots{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        & .dot{
            display: inline-block;
            margin: 0 10px;
            border: 3px solid #ff3368;
            width: 20px; height: 20px;
            border-radius: 50%;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &.active{
                background-color: #ff3368;
            }

            &:hover{
                background-color: #ff3368;
            }
        }
    }
}

.slider_container .slider .box:not(.active){
    top: 0;
    left: -100%;
}

    @keyframes next1{
        0%{
            left: 0;
        }

        100% {
            left: -100%;
        }
    }

    @keyframes next2{
        0%{
            left: 100%;
        }

        100% {
            left: 0;
        }
    }

@keyframes prev1{
    from{
        left: 0;
    }

    to {
        left: 100%;
    }
}

@keyframes prev2{
    from{
        left: -100%;
    }

    to {
        left: 0;
    }
}

.headerCat{
    width:100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font:{
        size: 3rem;
        weight: 700;
    }
}

.cat{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    & .box{
        background-color:#f8fbff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        position: relative;

        & .words {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            & span{
                font-size: 1.2rem;
                font-weight: 400;
            }
            & p{
                font-size: 21px;
                font-weight: 600;
            }
            & a{
                font-size: 1.2rem;
                font-weight: 600;
                color: #ff3368;
                opacity: 0;
                transition: .7s;
                position: absolute;
                bottom: 13%;
                left: 5%;
            }
        }
    }
    & .box:hover .words a{
        bottom: 10%;
        opacity: 1;
    }
}

.awesomeSlide{
    width: 100%;
    height: 80vh;
    position: relative;
    & .head{
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 50px;
        & span{
            margin: {
                top: 50px;
                right: 50px;
            }
        }

        & span:nth-child(1){
            font: {
                size: 1.9rem !important;
                weight: 700;
            };
        }

        & span:nth-child(2){
            font: {
                size: 1.5rem !important;
                weight: 700;
            };
            color: #c6c3c3;
        }
    }

    & .sliderContainer{
        width: 100%;
        height: 150vh;
        position: relative;
        overflow: hidden;

        & .slider{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            margin-bottom: 70px;
            position: absolute;
            & .box{
                box-shadow: 0px 0px 10px rgb(211 209 209 / 15%);

                & .text{
                    padding:{
                        right: 20px;
                        left: 20px;
                        bottom: 20px;
                    };

                    & h4{
                        font-size: 1.3rem;
                        font-weight: 500;
                        transition: all 0.5s ease-in-out;
                    }
        
                    & h3{
                        font-size: 1.3rem;
                        font-weight: 400;
                        transition: all 0.5s ease-in-out;;
                    }
        
                    & a{
                        font-size: 1.5rem;
                        font-weight: 400;
                        color: #ff3368;
                        & i{
                            display:inline-block;
                            margin-left: 10%;
                        }
                        position: relative;
                        right: 10%;
                        opacity: 0;
                        transition: all 0.7s ease-in-out;;
                    }
                }

                & img{
                    width: 100%;
                }
            }
        }
        & .slider .box:hover .text a{
            left: 26px;
            opacity: 1;
        }

        & .slider .box:hover .text h3, & .slider .box:hover .text h4{
            padding-left: 30px;
        }

        & .slider:not(.activeAwsome){
            top: 0;
            left: -100%;
        }
    }

    & .btnAwesome{
        margin: 30px;
        position: absolute;
            top: 0; right: 20px;
        & span{
            margin-right: 50px;
            cursor: pointer;
            font: {
                size: 1.2rem !important;
                weight: 600;
            };
        }
    }

}

@keyframes nxtAwesome1 {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes nxtAwesome2 {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes prevAwesome1{
    from {
        left: 0;
    }

    to{
        left: 100%;
    }
}

@keyframes prevAwesome2{
    from {
        left: -100%;
    }

    to{
        left: 0;
    }
}

.timerRow{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    background: #ecfdff;
    margin-top: 47%;
    padding: 15% 5%;
    & img{
        transform: scale(1.2);
    }
    & .text {
        h1{
            font-size: 4rem;
        }
        & .time{
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 2rem;
            font-weight: bold;
            & p{
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
            }
        }
        & form{
            margin-top: 50px;
            & input[type="text"]{
                width: calc(100% - 30%);
                height: 70px;
                outline: none;
                border: none;
                background: #fff;
                font-size: 2rem;
            }
            & input[type="submit"]{
                width: 30%;
                height: 70px;
                font-size: 2rem;
                border: none;
                color: #fff;
                background: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%)
            }
        }
    }
}

.bests{
    position: relative;
    & .btns{
        & .btnsNxt{ 
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -54px;
            width: 70px;
            background: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .23);
            border-radius: 10px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            cursor: pointer;
        }
        & .btnsPrv{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -54px;
            width: 70px;
            background: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .23);
            border-radius: 10px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            cursor: pointer;
        }
    }
    & .bestSlider{
        margin: {
            top: 50px;
        };
        display: flex;
        align-items: center;
        justify-content: center;
        & .rowBest{
            display: grid;
            grid-auto-flow: column;
            max-width: 100%;
            grid-auto-columns: calc((100% / 4) - 12px);
            gap: 31px;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scrollbar-width: 0;
            scroll-behavior: smooth;
            &::-webkit-scrollbar{
                display: none;
            }

            & .box {
                margin: {
                    bottom: 70px;
                };
                scroll-snap-align: start;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
                cursor: pointer;
                & img{
                    width: 100%;
                }
                & .text{
                    transition: all .4s;
                    position: relative;
                    top: 0;
                    left: 10px;
                    & .h1{
                        font : {
                            size: 1.6rem;
                            weight: 600;
                        }
                    }
                    & .h3{
                        font : {
                            size: 1.3rem;
                            weight: 500;
                        }
                    }
                }
                &:hover .text{
                    top: -6px;
                }
            }
        }
        scroll-behavior: auto;
        & .rowBest.noTansition{
            scroll-behavior: auto;
        }
        & .rowBest.dragging{
            scroll-snap-type: none;
            scroll-behavior: auto;
        }
        & .rowBest.dragging .box{
            cursor: grab;
            user-select:none;
        }
    }
}
.rowLetter{
    width: 100%;
    max-width: 100%;
    background: url(../public/img/subscribe_area.png) no-repeat center center;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & .center{
        color: rgb(247, 63, 63);
        font-size: .99rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 25px;
    }
    & .headr{
        width: 44%;
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 35px;
    }
    & form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin-bottom: 30px;
        & input[type="text"]{
            width: calc(100% - 37%);
            height: 60px;
            padding: 20px;
            font-size: 1.3rem;
            border: none;
            outline: none;
            background-color: #fdfdfd;
        }
        & input[type="submit"]{
            width: 35%; 
            height: 60px;
            margin-left: 3%;
            border: none;
            font-size: 1.3rem;
            font-weight: 500;
            background-color: #ff3368;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            transition: background-colo  .4s ease-in-out;
            &:hover{
                background: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%);
            }
        }
    }
}

.logoRow{
    
    & .boxes1{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 100%;
        margin: 40px auto;
        & img{
            display: inline-block;
            transform: scale(1.2);
            margin: 25px;
            cursor: pointer;
        }
        & .hover{
            filter: grayscale(1);
            transition: filter .2s ease-in-out;
            &:hover{
                filter: grayscale(0);
            }
        }
    }
}

// footer
.rowFooter{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.3fr;
    gap: 30px;
    margin: {
        top: 100px;
        bottom: 100px;
    }
    & .box{
        & .header{
            font: {
                size: 1.5rem;
                weight: 400;
            }
            margin-bottom: 40px;
        }
        & p{
            color: #999;
            transition: color .5s;
            &:hover{
                color: #fa1e1e;
            }
        }
        & span{
            font: {
                size: 1.2rem;
            };
            color: black;
        }
        & form{
            margin-top:30px;
            & input[type="text"]{
                width: 62%;
                height: 40px;
                font-size: 1.03rem;
                padding: 10px;
                outline: none;
                border: none;
                background: #eee;
            }
            & input[type="submit"]{
                width: 35%;
                height: 40px;
                padding: 10px;
                outline: none;
                border: none;
                background: #eee;
                margin-left: 3%;
                border-radius: 10px;
                background:#ff3368;
                color: #f8fbff;
                transition: background 0.3s ease-in-out;
                &:hover{
                    background: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%)
                }
            }
        }
    }
}

// responsive
@media screen and (max-width: 900px) {
    .rowFooter{
        grid-template-columns: repeat(2, 1fr);
        & .box{
            width: 100%;
            margin: 0 auto;
            & .header{
                font-size: 2.5rem;
            }
        }
    }
    .logoRow{
    
        & .boxes1{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .rowLetter{
        & .headr{
            width: 60%;
        font-size: 2rem;
        }
        & form{
            width: 85%;
        }
    }
    .bests{
        & .bestSlider{
            & .rowBest{
                grid-auto-columns: calc((100% / 2) - 9px);
            }
        }
    }
    .timerRow{
        grid-template-columns: 1fr;
        margin-top: 112%;
        text-align: center;
        & img{
            transform: scale(1.1);
            margin: 0 auto;
        }
    }
    .awesomeSlide{
        & .sliderContainer {
            &  .slider{
                grid-template-columns: repeat(2, 1fr);
            }
        }
        & .head{
            margin: 50px;
        }
        & .btnAwesome{
            top: 80px;
            right: 0;
        }
    }
    .cat{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
        & .box{
            padding: 50px;
        }
    }
    .slider_container{
        & .slider{
            .box {
                & img{
                    display: none;
                }
                & .wordes{
                    width: 100%;
                    float: left;
                    & h2{
                        width: 70%;
                    }
                    & p{
                        width: 70%;
                    }
                    & button{
                        color: #eee;
                        font-size: 1.2rem;
                        position: absolute;
                        bottom: 90px;
                        left: 90px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 600px) {
    .rowFooter{
        grid-template-columns: repeat(1, 1fr);
        & .box{
            font-size: 2.5rem;
            & .header{
                font-size: 3.5rem;
            }
        }
    }
    .logoRow{
    
        & .boxes1{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .rowLetter{
        & .headr{
            width: 65%;
            font-size: 2rem;
        }
        & form{
            width: 85%;
        }
    }
    .bests{
        & .bestSlider{
            & .rowBest{
                grid-auto-columns: 100%;
            }
        }
    }
    .timerRow{
        grid-template-columns: 1fr;
        margin-top: 112%;
        text-align: center;
        & img{
            transform: scale(1.1);
            margin: 0 auto;
        }
    }
    .awesomeSlide .sliderContainer .slider{
        grid-template-columns: 1fr;
    }
}
